<div class="content">
  <div class="content-padded">

    <% if current_user %>
      Signed in as <strong><%= current_user.name %></strong>!
      <%= link_to "Sign out", signout_path, id: "sign_out" , "data-ignore" => "push"%>
    <% else %>
      <%= link_to "/auth/facebook", id: "sign_in", "data-ignore" => "push" do %>
        <span class='icon-facebook-sign' style="font-size:25px;"></span> Sign in with Facebook
      <% end %>
    <% end %>

  </div>
</div>