<header class="bar-title">
  <%= link_to 'Back', @bet, "data-transition" => "slide-out", class: 'button-prev' %>
  <h1 class="title bold">DIGNITY BET</h1>
</header>

<nav class="bar-tab">
   <ul class="tab-inner">
     <li class="tab-item active">
       <a href="">
         <i class="icon-pushpin" style='color:white; font-size: 30px;'></i>
         <div class="tab-label">Live Bets</div>
       </a>
     </li>
     <li class="tab-item">
       <a href="">
         <i class="icon-time" style='color:white; font-size: 30px;'></i>
         <div class="tab-label">Past Bets</div>
       </a>
     </li>

     </li>
   </ul>
 </nav>

<div class="content">
  <div class="content-padded">

<%= link_to "I Won", set_result_path(:id => @bet.id, :role => @role, :determination => "won"), class: "button-block button-positive" %>
<%= link_to "I Lost", set_result_path(:id => @bet.id, :role => @role, :determination => "lost"), class: "button-block button-negative" %>
<%= link_to "It's a draw", set_result_path(:id => @bet.id, :role => @role, :determination => "draw"), class: "button-block" %>

</div>
</div>