jQuery ->
  $('body').prepend('<div id="fb-root"></div>')

  $.ajax
    url: "#{window.location.protocol}//connect.facebook.net/en_US/all.js"
    dataType: 'script'
    cache: true
    

window.fbAsyncInit = ->
  
  FB.init(appId: apikey, cookie: true, status: true, xfbml: true)
  
  $('#sign_in').click (e) ->
    e.preventDefault()
    FB.getLoginStatus (response) ->
      if response.status == 'connected'
        # the user is logged in and connected to app
        window.location.href = '/auth/facebook/callback'
        
      else if response.status == "not_authorized"
      # the user is logged in to Facebook, but not connected to app
      # Attempt to auth
        FB.login (response) ->
          if response.authResponse
            # User accepted auth
            window.location.href = '/auth/facebook/callback'
        , scope: "email,publish_stream"
      else
        permissionUrl = "https://m.facebook.com/dialog/oauth?client_id="+apikey+"&response_type=code&redirect_uri=http://10.1.1.8:3000/auth/facebook/callback&scope=email,publish_stream";
        window.location = permissionUrl;


  $('#sign_out').click (e) ->
    FB.getLoginStatus (response) ->
      FB.logout() if response.authResponse
    true