/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require ratchet.css
 *= require font-awesome.css
 */

.bold {
	font-family: 'Open Sans', sans-serif; font-weight: 800; 
}

.content-padded{
	font-family: 'Open Sans', sans-serif; font-weight: 400; 
	background-image: url("grid.png");
	height:100%;
	/*	background-color: red;*/
}

.bet-box {
	width: 100%;
	margin: 20px 0px;
/*	padding: 10px 0px;*/
	text-align: center;
/*	-webkit-border-radius: 5px;*/
/*	border-radius: 5px; */
	
	position: relative;  
/*    padding: 10px;  */
    margin: 10px auto;  
  
	
	background-color: #fff;  
	    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3	), inset 0 0 50px rgba(0, 0, 0, 0.1);  
	    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);  
	    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

.bet-box:before, .bet-box:after  
{  
    position: absolute;  
    width: 40%;  
    height: 30px;  
    content: ' ';  
    left: 12px;  
    bottom: 9px;  
    background: transparent;  
    -webkit-transform: skew(-5deg) rotate(-5deg);  
    -moz-transform: skew(-5deg) rotate(-5deg);  
    -ms-transform: skew(-5deg) rotate(-5deg);  
    -o-transform: skew(-5deg) rotate(-5deg);  
    transform: skew(-5deg) rotate(-5deg);  
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);  
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);  
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);  
    z-index: -1;  
}  
.bet-box:after  
{  
    left: auto;  
    right: 12px;  
    -webkit-transform: skew(5deg) rotate(5deg);  
    -moz-transform: skew(5deg) rotate(5deg);  
    -ms-transform: skew(5deg) rotate(5deg);  
    -o-transform: skew(5deg) rotate(5deg);  
    transform: skew(5deg) rotate(5deg);  
}

.players {
	display:inline-block;
	font-size: 25px;
	padding: 10px 0;
	width: 100%;
}

.bar-icon{
	font-size: 30px;
}
